


# Virtual environments
env310/
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# macOS junk files
.DS_Store

# Secrets
.env
gspread_credentials.json

# Project-specific files
feedback.csv


ml_model/saved_model/pytorch_model.bin
en.bin
*.bin
